<div class="recipe">
  <p
    class="recipe__recipe-name"
    [ngClass]="{
      'recipe__recipe-name--all-ingredients-selected':
        recipe().allIngredientsSelected,
      'recipe__recipe-name--some-ingredients-selected':
        recipe().someIngredientsSelected
    }"
    (click)="onRecipeClick()"
  >
    <b>{{ recipe().name }}:</b>
  </p>
  <div class="recipe__ingredients">
    @for(ingredient of recipe().ingredients; track ingredient.id) { &nbsp;
    <app-ingredient [ingredient]="ingredient" [isClickable]="false" />
    }
  </div>
</div>
