<div class="cart p1">
    <h2 class="text-center">Cart</h2>
    <hr />

    @if(cart()) { 
        @if(cart().errorMessage) {
            <p class="text-center text-danger">{{ cart().errorMessage }}</p>
        }

        <div class="cart__content">
            <span class="cart__content__checkout">
                <p>Total items: {{ cart().totalItems }}</p>
                <button
                    class="cart__content__checkout__button"
                    [disabled]="!cart().ingredients.length"
                    (click)="onCheckout()"
                >
                    Checkout
                </button>
            </span>
            <hr />
            @for (ingredient of cart().ingredients; track ingredient.id) {
                <app-ingredient [ingredient]="ingredient" [isClickable]="false" />
            } @empty {
                <p>Your cart is empty. Click on a recipe to add missing ingredients.</p>
            }
        </div>
    }
</div>
